.indexMain{
    height: 400px;
    text-align: center;
    background-image: url(/img/80922c4ac8b5404af7dc9856bf8801f2.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 10%;
}